div#valign-center {
    position:absolute;
    top:50%;
    right:0;
    left:0;
}

img#login-bg {
    position: absolute;
    margin: auto;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img#login-heart-peru {
    position: absolute;
    left: 27%;
    top: 59%;
    size: relative;
    width: 3%;
    height: 3%;
}

img#login-heart-russia {
    position: absolute;
    left: 56%;
    top: 40%;
    size: relative;
    width: 3%;
    height: 3%;
}

.heartbeat {
    animation: beating .5s linear infinite alternate;
}

@keyframes beating {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}