.img-blurred {
    filter: blur(30px);
}

.img-bg {
    width: auto;
    height: auto;
    verri
}

.centered {
    position: relative;
    top: 50%;
    transform: translateY(35%);
    text-align: center;
}

body {
    background-color: #84B4E4;
}